@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap");

:root {
  --primary-blue: #00d8ff;
  --primary-purple: #6a00ff;
}

.blue {
  color: var(--primary-blue);
}

@layer base {
  * {
    @apply font-[IBM];
  }

  h1 {
    @apply text-4xl font-bold;
  }
  li {
    @apply p-4;
  }
  button {
    @apply bg-gradient-to-r from-[var(--primary-purple)] to-[var(--primary-blue)] rounded-3xl py-2 px-4;
  }
}
